*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /* Abilita lo scroll fluido */
}

:root {
    --color1: #0c343c;
    --color2: #f1c343;
    --color3: #e9e9e9;
    --bckgLight: #1a505a;
    --mediaH2: 2.5em; 
}

body{
    font-family: 'poppins', 'sanserif';
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color1);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*--------------------------------------------------------------*/
/* SECTION LAYOUT                                               */
/*--------------------------------------------------------------*/
.main{
    width: auto;
    height: 100vh;
}

.about{
    width: auto;
    height: 100vh;
}

.roadmap{
    width: auto;
    height: 100vh;
}

.tokenomics{
    width: auto;
    height: 100vh;
}

.buy, .presale{
    width: auto;
    height: 100vh;
}

.whitepaper{
    width: auto;
    height: 100vh;
}


/*--------------------------------------------------------------*/
/* MAIN                                                         */
/*--------------------------------------------------------------*/

/* HEADER */
.main .header {
    font-family: 'Mitr Regular', 'Poppins';
    font-weight: 400;
    display: block;
    text-align: center;
    background-color: var(--color1);
}

.main .header .landscape { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.main .header .landscape .responsive{ 
    height: 37vh;
    width: auto; 
}


/* Socials */
.main .header .socials {
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* padding-top: 17vh; */
    /* padding-bottom: 19vh; */
    padding-top: 2vh;
    padding-bottom: 10vh;

}

.main .header .socials .socials-container{
    align-items: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    /* margin-right: 200px; */
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color3);
    text-align: center;
    text-decoration: none;
    background-color: var(--color1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    padding-left: 3%;
    padding-right: 3%;
}

.btn i {
    font-size: 2em;
}

.btn:hover {
    transform: translateY(-4px);
}

/* COUNT-DOWN */
.main .countdown-container {
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 8vh;
}

.main .countdown-container h3{
    font-size: 2em;
    padding-bottom: 1vh;
    color: var(--color3);
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2em;
}

#countdown div {
    background-color:#1a505a;
    padding: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #0a2d33;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: var(--color2);
}


/* Navbar */
.main .header .navbar{
    background-color: var(--color2);
    display: flex;
    justify-content:space-evenly;
    font-size: 2em;
    margin: 0% 0%;
}

.main .header .navbar ul li{
    display: inline-block;
    /* padding: 0vh; */
}

.main .header .navbar ul li a {
    color: var(--color1);
    padding: 1.5vh 20px;
    display: block;
    font-weight: 600;
}

.main .header .navbar ul li a:hover {
    color: var(--color1);
    opacity: 0.95;
    transition: 0.55s ease;
    transform: translateY(-3px);
}

/*--------------------------------------------------------------*/
/* Mission                                                      */
/*--------------------------------------------------------------*/
.about{
    background-color: var(--color1);
    color: var(--color3);
    display: block;
}

.about h2{
    font-size: 4em;
    color: var(--color2);
    padding-left: 1%;
}

.about .container-para{
    display: block;

    max-width: 95vw;

    padding-top: 6vh;
    padding-right: 0;

    color: var(--color3);

    text-align: justify;
}

.about .container-para .para{
    display: flex;
    padding: 0.5% 0.5%;
    font-size: 2em;
}


.about .container-para .img-about{
    padding-top: 4%;
    width: 40%;
    height: auto;
    float: left;
    padding-left: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}


/*--------------------------------------------------------------*/
/* Roadmap                                                      */
/*--------------------------------------------------------------*/
.roadmap{
    background-color: var(--color1);
    color: var(--color2);
    display: block;
    height: auto;
}

.roadmap h2{
    font-size: 3.5em;
    color: var(--color2);
    padding-left: 20px;
}

.roadmap .card-container{
    
    padding-top: 5vh;
    padding-bottom: 3.5vh;
    padding-left: 1.5%;

    display:inline-flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    width: 330px;
    height: 600px;

    background-color: var(--color1);
    color: var(--color3);

    border-radius: 20px;
    border: 1.5px var(--color2);
    border-style:solid;
    overflow: hidden;
    box-shadow: 0px 2px 4px black;        
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2.2vh;
    margin-right: 1.5vh;
    display: block;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 1.35em;
    margin-bottom: 8px;
}

.card .card-content p{
    margin-bottom: 2.5%;
    text-align: justify;
    
    font-size: 1.1em;
}


.card .roadmap-img1{
    width: 250px;
    height: 200px;
    padding-left: 20%;
    padding-top: 0px;
}

.card .roadmap-img2{
    width: 240px;
    height: 200px;
    padding-left: 25%;
    padding-top: 15px;
}

.card .roadmap-img3{
    width: 260px;
    height: 195px;
    padding-left: 18%;
    padding-top: 20px;
    margin-bottom: 4px;
}

.card .roadmap-img4{
    width: 250px;
    height: 200px;
    padding-left: 20%;
    padding-top: 25px;
}

.card .roadmap-img5{
    width: 280px;
    height: 200px;
    padding-left: 15%;
    padding-top: 25px;
}

.cex{
    padding-top: 4vh;
    padding-bottom: 6.5vh;

    color: var(--color3);
    font-size: 1.5em;;
    text-align: center;

    
    font-weight: bold;
}

/*--------------------------------------------------------------*/
/* Tokenomics                                                   */
/*--------------------------------------------------------------*/
.tokenomics{
    background-color: var(--color1);
    color: var(--color3);
    display: block;
}

.tokenomics h2{
    font-size: 3.5em;
    color: var(--color2);
    padding-left: 20px;
}

.tokenomics .bar-container{
    float: left;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-top: 3vh;
    padding-left: 40px;
}

/* 100% */
.tokenomics .bar-container .total{
    width: 95vw;
    height: 100PX;

    background-color: var(--color2);
    border-color: var(--color1);
    border-width: 2px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 2em;
    font-weight: bold;
    color: var(--color1);
    text-align: center;

}

/* Single bar container layout */
.tokenomics .bar-container .cont-bar{
    display: flex;
    margin-top: 1.5vh;
    
    height: 65px;
}


/* 10% */
.tokenomics .bar-container .cont-bar .presale1{
    width: 9.5vw;

    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 1.15em;
    font-weight: bold;
    color: var(--color2);
    text-align: left;
}

.tokenomics .bar-container .cont-bar .presale1-text{
    width: auto;

    color:var(--color3);

    font-size: 1.15em;
    text-align: left;
}


/* 5% */
.tokenomics .bar-container .cont-bar .presale2{
    width: 5vw;

    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 1.15em;
    font-weight: bold;
    color: var(--color2);
    text-align: left;
}

.tokenomics .bar-container .cont-bar .presale2-text{
    width: auto;

    color:var(--color3);

    font-size: 1.15em;
    text-align: left;
}

/* 25% */
.tokenomics .bar-container .cont-bar .liquidity{
    width: 25vw;

    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 1.15em;
    font-weight: bold;
    color: var(--color2);
    text-align: left;
}

.tokenomics .bar-container .cont-bar .liquidity-text{
    width: auto;

    color:var(--color3);

    font-size: 1.15em;
    text-align: left;
}


/* 20% */
.tokenomics .bar-container .marketing{
    width: 20vw;

    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 1.15em;
    font-weight: bold;
    color: var(--color2);
    text-align: left;
}

.tokenomics .bar-container .cont-bar .marketing-text{
    width: auto;

    color:var(--color3);

    font-size: 1.15em;
    text-align: left;
}

/* 10% */
.tokenomics .bar-container .team{
    width: 9.5vw;

    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 1.15em;
    font-weight: bold;
    color: var(--color2);
    text-align: left;
}

.tokenomics .bar-container .cont-bar .team-text{
    width: auto;

    color:var(--color3);

    font-size: 1.15em;
    text-align: left;
}


/* 15% */
.tokenomics .bar-container .community{
    width: 15vw;

    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 1.15em;
    font-weight: bold;
    color: var(--color2);
    text-align: left;
}

.tokenomics .bar-container .cont-bar .community-text{
    width: auto;

    color:var(--color3);

    font-size: 1.15em;
    text-align: left;
}

/* 5% */
.tokenomics .bar-container .reserve{
    width: 5vw;

    background-color: var(--color1);
    border-color: var(--color2);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 7px;

    
    font-size: 1.15em;
    font-weight: bold;
    color: var(--color2);
    text-align: left;
}

.tokenomics .bar-container .cont-bar .reserve-text{
    width: auto;

    color:var(--color3);

    font-size: 1.15em;
    text-align: left;
}



.tokenomics .bar-container .total p
{
    padding-top: 29px;
    /* padding-left: 0px; */
}

.tokenomics .bar-container .cont-bar .liquidity-text .bold,
.tokenomics .bar-container .cont-bar .marketing-text .bold,
.tokenomics .bar-container .cont-bar .team-text .bold,
.tokenomics .bar-container .cont-bar .presale1-text .bold,
.tokenomics .bar-container .cont-bar .presale2-text .bold,
.tokenomics .bar-container .cont-bar .reserve-text .bold,
.tokenomics .bar-container .cont-bar .community-text .bold
{
    font-weight: bold;
    color: var(--color2);
}

.tokenomics .bar-container .liquidity p, 
.tokenomics .bar-container .marketing p, 
.tokenomics .bar-container .team p, 
.tokenomics .bar-container .community p,
.tokenomics .bar-container .presale1 p,
.tokenomics .bar-container .presale2 p,
.tokenomics .bar-container .reserve p,
.tokenomics .bar-container .cont-bar .liquidity-text,
.tokenomics .bar-container .cont-bar .marketing-text,
.tokenomics .bar-container .cont-bar .team-text,
.tokenomics .bar-container .cont-bar .presale1-text,
.tokenomics .bar-container .cont-bar .presale2-text,
.tokenomics .bar-container .cont-bar .reserve-text,
.tokenomics .bar-container .cont-bar .community-text
{
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}

.tokenomics .lp-container{
    margin-top: 73vh;
    margin-bottom: 4.3vh;
    display: block;
    
    margin-left: 4.5vw;
}


.tokenomics .lp {

    justify-content:space-evenly;
    flex-wrap: wrap;

    width: 400px;
    height: 150px;

    background-color: #0a2d33;
    background-color: var(--color1);
    border-color:  #0a2d33;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 1px 2px black;

    
    
    font-size: 2.9em;
    font-weight: bold;
    color: var(--color2);
    text-align: center;

    display:inline-flex;
    margin-left: 0vw;
    margin-right: 2vw;
}

.tokenomics .lp p{
    margin-top: 40px;
}




/*--------------------------------------------------------------*/
/* Buy                                                          */
/*--------------------------------------------------------------*/
/* .buy{
    background-color: var(--color1);
    color: var(--color2);
    display: block;
}

.buy h2{
    font-size: 3.5em;
    color: var(--color2);
    padding-left: 20px;
}


.buy .tools {
    display: flex;
    padding: 11vh 18%;
}


.buy .tools .dexscreener {
    padding-left: 15%;
    padding-right: 15%;
}
.buy .tools .dexscreener img{
    width: 25vh;
    height: 25vh;
    transition: transform 0.55s ease;
}
.buy .tools .dexscreener img:hover{
    transform: translateY(-10px);
    opacity: 0.75;
}

.buy .tools .dextools {
    padding-left: 15%;
    padding-right: 15%;
}
.buy .tools .dextools img{
    width: 25vh;
    height: 25vh;
    transition: transform 0.55s ease;
}
.buy .tools .dextools img:hover{
    transform: translateY(-10px);
    opacity: 0.75;
}


.ca {
    text-align: center;
    position: relative;
    margin-top: 13vh;
    margin-bottom: 10vh;
}

.copy-box {
    background-color: #0a2d33;
    border-radius: 70px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 40px 150px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    
    font-size: 2em;
    font-weight: bold;
}

.copy-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.copy-box:active {
    transform: scale(0.95);
}

.copy-box.dimmed {
    opacity: 0;
    transition: opacity 0.7s ease;
}

#text-to-copy {
    font-weight: normal;
    color: var(--color2);
    transition: color 0.6s ease;
}

.copy-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.7s ease;
    pointer-events: none;
}

.copy-overlay.show {
    opacity: 0.8;
    transition: opacity 0.5s ease;
} */


/*--------------------------------------------------------------*/
/* Presale                                                      */
/*--------------------------------------------------------------*/
.presale{
    background-color: var(--color1);
    color: var(--color2);
    display: block;
}

.presale h2{
    font-size: 3.5em;
    color: var(--color2);
    padding-left: 20px;
}

.presale .wallet h3{
    font-size: 2.5em;
    padding-bottom: 0.5vh;
}

.wallet {
    text-align: center;
    position: relative;
    margin-top: 8vh;
    margin-bottom: 16vh;
}

.wallet .copy-box {
    background-color: var(--color1);

    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color2);

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    padding: 40px 300px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    
    font-size: 2em;
    font-weight: bold;
}

.wallet .copy-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.wallet .copy-box:active {
    transform: scale(0.95);
}

.wallet .copy-box.dimmed {
    opacity: 0;
    transition: opacity 0.7s ease;
}

#text-to-copy {
    font-weight: normal;
    color: var(--color3);
    transition: color 0.6s ease;
}

.wallet .copy-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.7s ease;
    pointer-events: none;
}

.wallet .copy-overlay.show {
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

/* COUNT-DOWN */
.presale .countdown-container {
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 9vh;
}

.presale .countdown-container h3{
    font-size: 2em;
    padding-bottom: 1vh;
    color: var(--color3);
}

#countdown2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2em;
}

#countdown2 div {
    background-color:#1a505a;
    padding: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #0a2d33;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: var(--color2);
}

.presale .howto{
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 1.5em;
    text-align: center;
}


/*--------------------------------------------------------------*/
/* Whitepaper                                                   */
/*--------------------------------------------------------------*/
.whitepaper{
    background-color: var(--color1);
    color: var(--color3);
    display: block;
    height: auto;
}

.whitepaper h2{
    font-size: 3.5em;
    color: var(--color2);
    padding-left: 20px;
}

.whitepaper .container {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 7vh;
}

.whitepaper h3{
    color: var(--color2);
}

.whitepaper h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.whitepaper .container  h3 {
    font-size: 1.8em;
    margin-top: 2%;
}

.whitepaper .container p {
    margin: 10px 0;
}

.whitepaper .container ul {
    list-style-type: disc;
    margin-left: 20px;
}
.whitepaper .container ul li{
    margin-top: 0.5vh;
}

.whitepaper .container .highlight {
    
    font-weight: bold;
}


/*--------------------------------------------------------------*/
/* FOOTER                                                       */
/*--------------------------------------------------------------*/
footer {
    text-align: center;
    color: var(--color1);
    padding: 20px 0;
    font-size: 14px;
    background-color: var(--color2);
}

footer hr {
    width: 50%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid black;
    font-weight: bold;
}



























/*---------------------------------------------------------------------------------------------*/
/* Responsive Design <=600px                                                                   */
/*---------------------------------------------------------------------------------------------*/
@media screen and (max-width: 600px){
 

    /* HEADER */
    .main .header {
        font-family: 'Mitr Regular', 'Poppins';
        font-weight: 400;
        display: block;
        text-align: center;
        background-color: var(--color1);
    }

    .main .header .landscape { 
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7vh;
    }
    
    .main .header .landscape .responsive{ 
        height: 11.5vh;
        width: auto; 
        
    }

    /* Socials */
    .main .header .socials {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 13vh;
        padding-bottom: 16vh;
    }
    
    .main .header .socials .socials-container{
        align-items: center;
    }
    
    .btn {
        display: inline-flex;
        align-items: center;
        font-size: 1.2em;
        font-weight: 600;
        color: var(--color3);
        text-align: center;
        text-decoration: none;
        background-color: var(--color1);
        transition: none;

        padding-left: 10%;
        padding-right: 10%;
    }
    
    .btn i {
        font-size: 1.8em;
    }
    
    .btn:hover {
        transform: translateY(-4px);
        /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
    }
    
    
    /* COUNT-DOWN */
    .main .countdown-container {
        text-align: center;
        padding-top: 15vh;
        padding-bottom: 4vh;
    }

    .main .countdown-container h3{
        font-size: 1.1em;
        padding-bottom: 1vh;
        color: var(--color3);
    }


    #countdown {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 0.7em;
    }

    #countdown div {
        background-color:#1a505a;
        padding-left: 4vw;
        padding-right: 4vw;
        border-radius: 10px;
        border-width: 0px;
        border-style: solid;
        border-color: #0a2d33;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        color: var(--color2);
    }


    /* Navbar */
    .main .header .navbar{
        background-color: var(--color2);
        display: flex;
        justify-content:space-evenly;
        font-size: 1.4em;
        text-align: center;
    }
    
    .main .header .navbar ul li{
        display: inline-block;
        padding: 5px;
    }
    
    .main .header .navbar ul li a {
        color: var(--color1);
        padding: 2px 5px;
        display: block;
        font-weight: 600;
    }

    .main .header .navbar ul li a:hover {
        color: var(--color1);
        opacity: 1;
        transition: none;
        transform: none;
    }

    /*--------------------------------------------------------------*/
    /* About                                                        */
    /*--------------------------------------------------------------*/
    .about{
        background-color: var(--color1);
        color: var(--color3);
        display: block;
    }

    .about h2{
        font-size: 2.5em;
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 1%;
    }

    .about .img-about{
        max-width: 40vh;
        max-height: 40vh;  
        width: auto;
        height: auto;
    }

    .about .container-para{
        color: var(--color3);
        display: block;
        text-align:left;
        padding-right: 0%;
        padding-left: 4%;
        font-size: auto;
        padding-top: 2vh;
    }

    .about .container-para .para{
        display: block;
        padding-left: 0%;
        text-align: justify;
        font-size: 1em;
        padding-top: 1.5vh;
    }

    .about .container-para .img-about{
        width: 80%;
        height: auto;
        float: left;
        padding-top: 0;
        padding-left: 10%;
        padding-bottom: 5%;
        margin-right: 10px;
        margin-left: 30px;
    }

    /*--------------------------------------------------------------*/
    /* Roadmap                                                      */
    /*--------------------------------------------------------------*/
    .roadmap{
        background-color: var(--color1);
        color: var(--color2);
        display: block;
        height: auto;
    }
    
    .roadmap h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0%;
    }
    
    .roadmap .card-container{
        display:inline-flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 1px;
        padding-left: 0;
    }

    .card{
        width: 330px;
        height: auto;
    
        background-color: var(--color1);
        color: var(--color3);
    
        border-radius: 20px;
        border: 1.5px var(--color2);
        border-style:solid;
        overflow: hidden;
        box-shadow: 0px 1px 2px black;        
        margin-top: 2vh;
        margin-bottom: 2.2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        display: block;
    }

    .card-content{
        padding: 16px;
    }
    
    .card .card-content p{
        margin-bottom: 2.5%;
        text-align: justify;
        
        font-size: 1em;
    }
    
    .card-content h3{
        font-size: 1.2em;
        margin-bottom: 8px;
    }


    .card .roadmap-img1{
        /* width: 215px;
        height: 200px;
        padding-left: 55px;
        padding-top: 0px; */
        display: block;
    }
    
    .card .roadmap-img2{
        /* width: 215px;
        height: 200px;
        padding-left: 55px;
        padding-top: 15px; */
        display: block;
    }
    
    .card .roadmap-img3{
        /* width: 235px;
        height: 195px;
        padding-left: 45px;
        padding-top: 20px;
        margin-bottom: 4px; */
        display: block;
    }
    
    .card .roadmap-img4{
        /* width: 220px;
        height: 200px;
        padding-left: 50px;
        padding-top: 25px; */
        display: block;
    }
    
    .card .roadmap-img5{
        /* width: 250px;
        height: 200px;
        padding-left: 28px;
        padding-top: 25px; */
        display: block;
    }
    
    .cex{

        color: var(--color3);
        font-size: 0.9em;
        text-align: center;
    
        padding-top: 0px;
        padding-right: 0px;
        font-weight: bold;

        padding-top: 2vh;
        padding-bottom: 3vh;
    }

    /*--------------------------------------------------------------*/
    /* Tokenomics                                                   */
    /*--------------------------------------------------------------*/
    .tokenomics{
        background-color: var(--color1);
        color: var(--color3);
        display: block;
        height: 100vh;
    }

    .tokenomics h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0.5%;
    }

    .tokenomics .bar-container{
        float: left;
        justify-content:space-evenly;
        flex-wrap: wrap;
        padding-top: 4vh;
        padding-left: 5vw;
        padding-bottom: 2vh;
        display: block;
    }


    .tokenomics .bar-container .total{
        width: 90vw;
        height: 6vh;

        background-color: var(--color2);
        border-color: var(--color1);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;

        
        font-size: 1.2em;
        font-weight: bold;
        color: var(--color1);
        text-align: center;

    }

    /* Single bar container layout */
    .tokenomics .bar-container .cont-bar{
        display: flex;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        height: 5.5vh;
    }

    /* 10% */
    .tokenomics .bar-container .cont-bar .presale1{
        width: 24vw;

        background-color: var(--color1);
        border-color: var(--color2);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;


        
        font-size: 1.15em;
        font-weight: bold;
        color: var(--color2);
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .presale1-text{
        width: auto;


        color:var(--color3);

        font-size: 1em;
        text-align: left;
    }


    /* 5% */
    .tokenomics .bar-container .cont-bar .presale2{
        width: 12vw;

        background-color: var(--color1);
        border-color: var(--color2);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;


        
        font-size: 1.15em;
        font-weight: bold;
        color: var(--color2);
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .presale2-text{
        width: auto;


        color:var(--color3);

        font-size: 1.15em;
        text-align: left;
    }

    /* 25% */
    .tokenomics .bar-container .cont-bar .liquidity{
        width: 40vw;

        background-color: var(--color1);
        border-color: var(--color2);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;


        
        font-size: 1.15em;
        font-weight: bold;
        color: var(--color2);
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .liquidity-text{
        width: auto;

        color:var(--color3);

        font-size: 1.15em;
        text-align: left;
    }


    /* 20% */
    .tokenomics .bar-container .marketing{
        width: 35vw;

        background-color: var(--color1);
        border-color: var(--color2);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;


        
        font-size: 1.15em;
        font-weight: bold;
        color: var(--color2);
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .marketing-text{
        width: auto;


        color:var(--color3);

        font-size: 1.15em;
        text-align: left;
    }

    /* 10% */
    .tokenomics .bar-container .team{
        width: 24vw;

        background-color: var(--color1);
        border-color: var(--color2);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;


        
        font-size: 1.15em;
        font-weight: bold;
        color: var(--color2);
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .team-text{
        width: auto;


        color:var(--color3);

        font-size: 1.15em;
        text-align: left;
    }


    /* 15% */
    .tokenomics .bar-container .community{
        width: 30vw;

        background-color: var(--color1);
        border-color: var(--color2);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;


        
        font-size: 1.15em;
        font-weight: bold;
        color: var(--color2);
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .community-text{
        width: auto;


        color:var(--color3);

        font-size: 1.15em;
        text-align: left;
    }

    /* 5% */
    .tokenomics .bar-container .reserve{
        width: 12vw;

        background-color: var(--color1);
        border-color: var(--color2);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 7px;


        
        font-size: 1.15em;
        font-weight: bold;
        color: var(--color2);
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .reserve-text{
        width: auto;


        color:var(--color3);

        font-size: 1.15em;
        text-align: left;
    }



    .tokenomics .bar-container .total p
    {
        padding-top: 12px;
        /* padding-left: 0px; */
    }

    .tokenomics .bar-container .cont-bar .liquidity-text .bold,
    .tokenomics .bar-container .cont-bar .marketing-text .bold,
    .tokenomics .bar-container .cont-bar .team-text .bold,
    .tokenomics .bar-container .cont-bar .presale1-text .bold,
    .tokenomics .bar-container .cont-bar .presale2-text .bold,
    .tokenomics .bar-container .cont-bar .reserve-text .bold,
    .tokenomics .bar-container .cont-bar .community-text .bold
    {
        font-weight: bold;
        color: var(--color3);
        font-size: 1em;
    }

    .tokenomics .bar-container .cont-bar .liquidity-text .expl,
    .tokenomics .bar-container .cont-bar .marketing-text .expl,
    .tokenomics .bar-container .cont-bar .team-text .expl,
    .tokenomics .bar-container .cont-bar .presale1-text .expl,
    .tokenomics .bar-container .cont-bar .presale2-text .expl,
    .tokenomics .bar-container .cont-bar .reserve-text .expl,
    .tokenomics .bar-container .cont-bar .community-text .expl
    {
        display: none;
        font-weight: bold;
        color: var(--color2);
        font-size: 1em;
    }

    .tokenomics .bar-container .liquidity p, 
    .tokenomics .bar-container .marketing p, 
    .tokenomics .bar-container .team p, 
    .tokenomics .bar-container .community p,
    .tokenomics .bar-container .presale1 p,
    .tokenomics .bar-container .presale2 p,
    .tokenomics .bar-container .reserve p
    {
        padding-top: 13.5px;
        padding-bottom: 10px;
        padding-left: 5px;
        font-size: 1em;
    }

    .tokenomics .bar-container .cont-bar .liquidity-text,
    .tokenomics .bar-container .cont-bar .marketing-text,
    .tokenomics .bar-container .cont-bar .team-text,
    .tokenomics .bar-container .cont-bar .presale1-text,
    .tokenomics .bar-container .cont-bar .presale2-text,
    .tokenomics .bar-container .cont-bar .reserve-text,
    .tokenomics .bar-container .cont-bar .community-text
    {
        padding-top: 13.5px;
        padding-bottom: 10px;
        padding-left: 10px;
        font-size: 1em;
    }


    .tokenomics .lp-container{
        margin-top: 2vh;
        margin-bottom: 4.3vh;
        margin-left: 0;

        display:inline-flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }


    .tokenomics .lp {

        width: 175px;
        height: 75px;

        background-color: #0a2d33;
        background-color: var(--color1);
        border-color:  #0a2d33;
        border-width: 1px;
        border-style: solid;
        border-radius: 10px;
        box-shadow: 0px 0.5px 1px black;

        
        
        font-size: 1.5em;
        font-weight: bold;
        color: var(--color2);
        text-align: center;

        display: flex;
        justify-content: center; /* Centrato orizzontalmente */
        align-items: center; /* Centrato verticalmente */

        margin-left: 0vw;
        margin-right: 1vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .tokenomics .lp p{
        margin-top: 0px;
    }



    /* -------------------------------------------------------------- */
    /* Buy                                                          */
    /*--------------------------------------------------------------*/
    /* .buy{
        background-color: var(--color1);
        color: var(--color3);
        display: block;
        height: 100vh;
    }

    .buy h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0.5%;
    }

    .buy .tools {
        display: block;
        padding: 5vh 18%;
        justify-content: center;
        align-items: center;
    }


    .buy .tools .dexscreener {
        padding-left: 24%;
        padding-right: 0%; 
        padding-top: 10%;
        padding-bottom: 25%;
    }
    .buy .tools .dexscreener img{
        width: 15vh;
        height: 15vh;
        transition: transform 0.55s ease;
    }
    .buy .tools .dexscreener img:hover{
        transform: translateY(-10px);
        opacity: 0.75;
    }

    .buy .tools .dextools {
        padding-left: 24%;
        padding-right: 0%;
        padding-top: 30%;
        padding-bottom: 15%;
    }
    .buy .tools .dextools img{
        width: 15vh;
        height: 15vh;
        transition: transform 0.55s ease;
    }
    .buy .tools .dextools img:hover{
        transform: translateY(-10px);
        opacity: 0.75;
    }


    .ca {
        text-align: center;
        position: relative;
        margin-top: 3.5vh;
        margin-bottom: 10vh;
    }

    .copy-box {
        background-color: #1a505a;
        border-radius: 70px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        padding: 5% 20%;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
    }

    .copy-box:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .copy-box:active {
        transform: scale(0.95);
    }

    .copy-box.dimmed {
        opacity: 0;
        transition: opacity 0.7s ease;
    }

    #text-to-copy {
        font-size: 1.2em;
        font-weight: bold;
        color: var(--color2);
        transition: color 0.6s ease;
        padding-left: 11%;
        padding-right: 1%;
    }

    .copy-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px 40px;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.7s ease;
        pointer-events: none;
    }

    .copy-overlay.show {
        opacity: 0.8;
        transition: opacity 0.5s ease;
    } */

    /*--------------------------------------------------------------*/
    /* Presale                                                      */
    /*--------------------------------------------------------------*/
    .presale{
        background-color: var(--color1);
        color: var(--color2);
        display: block;
    }

    .presale h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0.5%;
    }

    .presale .wallet h3{
        font-size: 1.2em;
        padding-bottom: 0.5vh;
    }

    .wallet {
        text-align: center;
        position: relative;
        margin-top: 19vh;
        margin-bottom: 17vh;
    }

    .wallet .copy-box {
        background-color: var(--color1);

        border-radius: 35px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--color2);

        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

        padding: 25px 25px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        
        font-size: 0.75em;
        font-weight: bold;
        text-align: center;
    }

    .wallet .copy-box:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .wallet .copy-box:active {
        transform: scale(0.95);
    }

    .wallet .copy-box.dimmed {
        opacity: 0;
        transition: opacity 0.7s ease;
    }

    #text-to-copy {
        font-weight: normal;
        color: var(--color3);
        transition: color 0.6s ease;
    }

    .wallet .copy-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px 40px;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.7s ease;
        pointer-events: none;
    }

    .wallet .copy-overlay.show {
        opacity: 0.8;
        transition: opacity 0.5s ease;
    }


    /* COUNT-DOWN */
    .presale .countdown-container {
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 4vh;
    }

    .presale .countdown-container h3{
        font-size: 1.2em;
        padding-bottom: 1vh;
        color: var(--color3);
    }

    #countdown2 {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 0.7em;
    }

    #countdown2 div {
        background-color:#1a505a;
        padding-left: 4vw;
        padding-right: 4vw;
        border-radius: 10px;
        border-width: 0px;
        border-style: solid;
        border-color: #0a2d33;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        color: var(--color2);
    }

    .presale .howto{
        padding-left: 1vh;
        padding-right: 1vh;
        font-size: 0.8em;
        text-align: center;
    }


    /*--------------------------------------------------------------*/
    /* Whitepaper                                                   */
    /*--------------------------------------------------------------*/
    .whitepaper{
        background-color: var(--color1);
        color: var(--color3);
        display: block;
        height: 100vh;
    }

    .whitepaper h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 3%;
        padding-bottom: 0.5%;
    }
    
    .whitepaper .container {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 7vh;
    }

    .whitepaper h3{
        color: var(--color2);
    }

    .whitepaper h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .whitepaper .container  h3 {
        font-size: 1.5em;
        margin-top: 5%;
    }

    .whitepaper .container p {
        margin: 10px 0;
        font-size: 1em;
    }

    .whitepaper .container ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    .whitepaper .container ul li{
        margin-top: 2vh;
    }

    .whitepaper .container .highlight {
        
        font-weight: bold;
    }

    /*--------------------------------------------------------------*/
    /* FOOTER                                                       */
    /*--------------------------------------------------------------*/
    footer {
        text-align: center;
        color: var(--color1);
        padding: 20px 0;
        font-size: 12px;
        background-color: var(--color2);
    }

    footer hr {
        width: 50%;
        margin: 20px auto;
        border: none;
        border-top: 1px solid black;
        font-weight: bold;
    }


}
















/*--------------------------------------------------------------*/
/* Responsive Design > 600px and <=900px                        */
/*--------------------------------------------------------------*/
@media screen and (max-width: 1700px) and (min-width: 600px){
 
    .main .header .landscape {
        margin-top: 5vh;
    }


    /* Socials */
    .main .header .socials {
        display: block;
    }
    
    .main .header .socials .socials-container{
        padding-top: 33.5vh;
        padding-bottom: 8vh;
        align-items: center;
    }
    
    .btn {
        display: inline-flex;
        align-items: center;
        font-size: 1.2em;
        font-weight: 600;
        color: var(--color3);
        text-align: center;
        text-decoration: none;
        background-color: var(--color1);
        transition: none;

        padding-left: 10%;
        padding-right: 10%;
    }
    
    .btn i {
        font-size: 1.8em;
    }
    
    .btn:hover {
        transform: translateY(-4px);
        /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
    }
    
    
    /* Navbar */
    .main .header .navbar{
        background-color: var(--color2);
        display: flex;
        justify-content:space-evenly;
        font-size: 1.05em;
        text-align: center;
    }
    
    .main .header .navbar ul li{
        display: inline-block;
        padding: 5px;
    }
    
    .main .header .navbar ul li a {
        color: var(--color1);
        padding: 2px 10px;
        display: block;
        font-weight: 600;
    }

    .main .header .navbar ul li a:hover {
        color: var(--color1);
        opacity: 1;
        transition: none;
        transform: none;
    }

    /*--------------------------------------------------------------*/
    /* About                                                        */
    /*--------------------------------------------------------------*/
    .about{
        background-color: var(--color1);
        color: var(--color3);
        display: block;
        height: auto;
    }

    .about h2{
        font-size: 2.5em;
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0.5%;
    }

    .about .container-para .img-about{
        max-width: 40vh;
        max-height: 40vh;  
        width: auto;
        height: auto;
    }

    .about .container-para{

        padding-top: 3vh;
        padding-right: 0%;
        padding-left: 3.5%;
        padding-bottom: 12vh;

        color: var(--color3);
        font-size: auto;
        display: block;
        text-align: justify;

        font-size: 1.1em;
    }

    .about .container-para .para{
        display: block;
        padding: 0;
    }


    /*--------------------------------------------------------------*/
    /* Roadmap                                                      */
    /*--------------------------------------------------------------*/
    .roadmap{
        background-color: var(--color1);
        color: var(--color2);
        display: block;
        height: auto;
    }
    
    .roadmap h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0.5%;
    }
    
    .roadmap .card-container{
        display:inline-flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10vh;
        padding-bottom: 0px;
    }
    
    .card{
        width: 280px;
        height: 600px;
        background-color: var(--color2);
        color: var(--color1);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 2px 4px black;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    
    .card .roadmap-img1{
        width: 215px;
        height: 200px;
        padding-left: 55px;
        padding-top: 0px;
    }
    
    .card .roadmap-img2{
        width: 215px;
        height: 200px;
        padding-left: 55px;
        padding-top: 15px;
    }
    
    .card .roadmap-img3{
        width: 235px;
        height: 195px;
        padding-left: 45px;
        padding-top: 20px;
        margin-bottom: 4px;
    }
    
    .card .roadmap-img4{
        width: 220px;
        height: 200px;
        padding-left: 50px;
        padding-top: 25px;
    }
    
    .card .roadmap-img5{
        width: 250px;
        height: 200px;
        padding-left: 28px;
        padding-top: 25px;
    }
    
    .card-content{
        padding: 16px;
    }
    
    .card-content h3{
        font-size: 1.5em;
        margin-bottom: 8px;
    }

    .cex { 
        color: var(--color3);
        font-size: 0.05;
        text-align: center;
    
        padding-top: 0px;
        padding-right: 0px;
        font-weight: bold;

        
        margin-left: 0;
        margin-right: 0;
        padding-top: 4vh;
        padding-bottom: 5vh;
     
    }

   

    /*--------------------------------------------------------------*/
    /* Tokenomics                                                   */
    /*--------------------------------------------------------------*/
    .tokenomics{
        background-color: var(--color1);
        color: var(--color3);
        display: block;
        height: 100vh;
    }

    .tokenomics h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0.5%;
    }

    .tokenomics .bar-container{
        float: left;
        justify-content:space-evenly;
        flex-wrap: wrap;
        padding-top: 5vh;
        padding-left: 2.3vh;
        display: block;
        width: auto;
    }


    .tokenomics .bar-container .community0{
        width: 90vw;
        height: 5vh;

        background-color: var(--color2);
        border-color: var(--color1);
        border-radius: 10px;

        
        font-size: 1em;
        font-weight: bold;
        color: var(--color1);
        text-align: center;

    }

    /* Single bar container layout */
    .tokenomics .bar-container .cont-bar{
        display: flex;
        margin-top: 2vh;
    }


    /* BAR 50 */
    .tokenomics .bar-container .cont-bar .liquidity-text{
        width: auto;
        height: 5vh;

        color:var(--color3);

        font-size: 1em;
        font-weight: bold;
        text-align: left;
    }

    .tokenomics .bar-container .cont-bar .liquidity{
        width: 45vw;
        height: 5vh;

        background-color: var(--color2);
        border-color: var(--color1);
        border-radius: 10px;
        
        font-size: 1em;
        font-weight: bold;
        color: var(--color1);
        text-align: left;
    }


    /* BAR 25 */
    .tokenomics .bar-container .cont-bar .marketing-text{
        width: auto;
        height: 5vh;

        color:var(--color3);

        font-size: 1em;
        font-weight: bold;
        text-align: left;
    }

    .tokenomics .bar-container .marketing{
        width: 28vw;
        height: 5vh;

        background-color: var(--color2);
        border-color: var(--color1);
        border-radius: 10px;
        
        font-size: 1em;
        font-weight: bold;
        color: var(--color1);
        text-align: left;
    }

    /* BAR 15 */
    .tokenomics .bar-container .cont-bar .team-text{
        width: auto;
        height: 5vh;

        color:var(--color3);

        font-size: 1em;
        font-weight: bold;
        text-align: left;
    }

    .tokenomics .bar-container .team{
        width: 17vw;
        height: 5vh;

        background-color: var(--color2);
        border-color: var(--color1);
        border-radius: 10px;

        
        font-size: 1em;
        font-weight: bold;
        color: var(--color1);
        text-align: left;
    }

    /* BAR 10 */
    .tokenomics .bar-container .cont-bar .community-text{
        width: auto;
        height: 5vh;

        color:var(--color3);

        font-size: 1em;
        font-weight: bold;
        text-align: left;
    }

    .tokenomics .bar-container .community{
        width: 12vw;
        height: 5vh;

        background-color: var(--color2);
        border-color: var(--color1);
        border-radius: 10px;

        
        font-size: 1em;
        font-weight: bold;
        color: var(--color1);
        text-align: left;
    }

    .tokenomics .bar-container .liquidity p, 
    .tokenomics .bar-container .marketing p, 
    .tokenomics .bar-container .team p, 
    .tokenomics .bar-container .community p,
    .tokenomics .bar-container .cont-bar .liquidity-text,
    .tokenomics .bar-container .cont-bar .marketing-text,
    .tokenomics .bar-container .cont-bar .team-text,
    .tokenomics .bar-container .cont-bar .community-text
    {
        padding-top: 0px;
        padding-left: 7px;
    }


    .tokenomics .bar-container .lp-container{
        margin-top: 4.3vh;
        align-items: center;
        margin-left: 0vw;
        width: auto;
    }


    .tokenomics .lp-container .lp {

        display:inline-flex;
        justify-content:space-evenly;
        flex-wrap: wrap;

        width: 25vw;
        height: 15vh; 

        background-color: none;
        border-color: var(--color1);
        border-radius: 10px;
        box-shadow: 0px 2px 4px black;

        margin-top: 11vh;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 10vh;
        
        align-items: center;

        font-size: 1.3em;
        font-weight: bold;
        color: var(--color2);
        text-align: center;

    }

    .tokenomics .lp p{
        margin-top: 0px;
    }
    /*--------------------------------------------------------------*/
    /* Buy                                                          */
    /*--------------------------------------------------------------*/
    .buy{
        background-color: var(--color1);
        color: var(--color3);
        display: block;
        height: 100vh;
    }

    .buy h2{
        font-size: var(--mediaH2);
        color: var(--color2);
        padding-left: 1.5%;
        padding-bottom: 0.5%;
    }


    .buy .tools {
        display: flex;
        padding: 7vh 18%;
        padding-bottom: 0vh;
        padding-left: 24%;
    }


    .buy .tools .dexscreener {
        padding-left: 15%;
        padding-right: 15%;
    }
    .buy .tools .dexscreener img{
        width: 20vh;
        height: 20vh;
        transition: transform 0.55s ease;
    }
    .buy .tools .dexscreener img:hover{
        transform: translateY(-10px);
        opacity: 0.75;
    }

    .buy .tools .dextools {
        padding-left: 15%;
        padding-right: 15%;
    }
    .buy .tools .dextools img{
        width: 20vh;
        height: 20vh;
        transition: transform 0.55s ease;
    }
    .buy .tools .dextools img:hover{
        transform: translateY(-10px);
        opacity: 0.75;
    }


    .ca {
        text-align: center;
        position: relative;
        margin-top: 13vh;
        margin-bottom: 10vh;
    }

    .copy-box {
        background-color: #1a505a;
        border-radius: 70px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        padding: 4% 1%;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
    }

    .copy-box:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .copy-box:active {
        transform: scale(0.95);
    }

    .copy-box.dimmed {
        opacity: 0;
        transition: opacity 0.7s ease;
    }

    #text-to-copy {
        font-size: 0.8em;
        font-weight: bold;
        color: var(--color2);
        transition: color 0.6s ease;
    }

    .copy-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px 40px;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.7s ease;
        pointer-events: none;
    }

    .copy-overlay.show {
        opacity: 0.8;
        transition: opacity 0.5s ease;
    }




    /*--------------------------------------------------------------*/
    /* FOOTER                                                       */
    /*--------------------------------------------------------------*/
    footer {
        text-align: center;
        color: var(--color1);
        padding: 20px 0;
        font-size: 10px;
        background-color: var(--color2);
    }

    footer hr {
        width: 50%;
        margin: 20px auto;
        border: none;
        border-top: 1px solid black;
        font-weight: bold;
    }

}

